footer {
    background-color:  whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
}

.rotated-div {
    transform-origin: center;
    transform: rotate(180deg);
    
  }

  .about {
    font-size: 10px;
    border: 1px solid black;
    padding-right: 1px;
    color: white;
    padding-left: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
  }