footer {
    background-color:  whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    padding: 10px;
}