.frases-container {
    display: flex;
    overflow-x: auto;
    margin-top: 90px;
}


.card {
  flex: 0 0 auto;
  margin-right: 18px;
  margin-left: 18px;
  width: 90%;
  background-image: url("../images/polaroide.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card img {
    
    width: 100%;
    padding: 10px;
}