.frases-container {
    overflow-x: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}


.frases-card {
  flex: 0 0 auto;
  margin: 18px;
  box-shadow: 5px 5px 45px 39px #297cb4;
  width: 90%;
  background-image: url("../images/polaroide.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frases-card img {
    
    width: 100%;
   padding: 10px;
    margin-bottom: 60px;
    
}