.games-container {
    overflow-x: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    margin-bottom: 30px;
}