.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #287fb5;
    height: 100vh;
    margin-bottom: 20px;
    width: 100%;
}

.home-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-family: fantasy;
}


.cardd {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    justify-content: space-evenly;
    background-color: white;
    text-decoration: none;
    color: black;
  }
  
  .circle {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
  }
  
  .cardd:hover {
    box-shadow: none;
    background-color: #c2c9c1;
  }
  
.animate-card-left {
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in 1s ease forwards;
}

.animate-card-right {
  transform: translateX(-100%);
  opacity: 0;
  animation: slide-in 2s ease forwards;
}


@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}