.login-container {
    background-color: #287fb5;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-circle {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 100px;
    box-shadow: 1px 1px 10px 1px rgb(255, 255, 255) ;
  }
  
  .logo-circle img {
    width: 100%;
    height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .login-btn {
    width: 50%;
    align-self: center;
    background-color: blueviolet;
  }

  .login-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }